body {
    margin: 5px;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
    cursor: none;
    text-align: center;
}

div {
    max-width: 800px;
    margin: 0 auto;

    text-align: center;
}

body a {
    text-decoration: none;
}

header,
footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

footer a {
    color: #fff;
}

main {
    padding: 2rem;
}

.about-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.photo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-photo {
    width: 200px;
    height: 200px;
    object-fit: cover;
    clip-path: circle(50% at center);
    transition: opacity 0.5s ease-in-out;
    cursor: pointer;
}

.click-instruction {
    text-align: center;
    font-size: 0.9em;
    color: #555;
    margin-top: 0.5em;
}

.user-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    margin-top: 1rem;
    place-items: center; /* Centers items horizontally and vertically */
}

.user-card {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.cat-img {
    width: 600px;
    height: auto;
    margin: 0.5rem auto;
    display: block;
}

.click-api {
    text-align: center;
    font-size: 0.9em;
    color: #555;
    margin-top: 0.5em;
}

.pevnyc {
    color: rgb(255, 242, 0);
}

@media (max-width: 600px) {
    .about-container {
        flex-direction: column;
    }
}

.ripple {
    position: absolute;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.3);
    transform: scale(0);
    animation: ripple-animation 0.6s linear;
    pointer-events: none;
}

@keyframes ripple-animation {
    to {
        transform: scale(4);
        opacity: 0;
    }
}

#exchange-rate {
    margin: 2rem auto;
    max-width: 600px;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 25px;
    background-color: #fff;
}

#exchange-rate label,
#exchange-rate select,
#exchange-rate button {
    margin: 0.5rem;
}
